#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#map a:focus,
a:hover {
  text-decoration: none !important
}

body {
  background-image: url('/images/bg2.jpg');
  background-size: cover;
}

table {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
  background-color: #FFF !important;
  border: 1px solid #ddd;
  border-radius: 4px;
}

tbody>tr>th {
  padding-left: 20px !important;
}

tbody>tr>th>a>img {
  border-radius: 4px;
}

.table>thead:first-child>tr:first-child>th {
  font-size: 16px
}

.btn.btn-info {
  letter-spacing: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
}

tbody>tr>td {
  vertical-align: middle !important;
}

#header {
  height: 70px;
  background-color: #46b8da;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px 0px;
}

.inner-header {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding-left: 0
}

.logo-head {
  color: #FFF;
  font-size: 24px;
  text-shadow: 2px 1px #666;
}

form {
  text-align: center;
}

.logo-head.container > a, 
.logo-head.container > a:hover,
.logo-head.container > a:active,
.logo-head.container > a:visited {
  color: #FFF;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
}

