<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/masthead.ejs %>
    <div class="row">
      <br>
      <div class="container" style="text-align:center;position:relative">
        <div class="map-index" style="position:absolute;top:60px;left:240px">
          <div style="background-color:#333;color:#FFF">NORTH AMERICA</div>
          <a href="/?city=Dallas">Dallas</a>
          <a href="/?city=Las+Vegas">Las Vegas</a>
          <a href="/?city=Los+Angeles">Los Angeles</a>
          <a href="/?city=New+York+City">New York City</a>
          <a href="/?city=San+Francisco">San Francisco</a>
          <a href="/?city=San+Jose">San Jose</a>
        </div>
        <div class="map-index" style="position:absolute;top:300px;left:340px">
          <div style="background-color:#333;color:#FFF">SOUTH AMERICA</div>
          <a href="/?city=Bogota">Bogota</a>
          <a href="/?city=Lima">Lima</a>
          <a href="/?city=Santiago">Santiago</a>
          <a href="/?city=Sao+Paulo">Sao Paulo</a>
          <a href="/?city=Rio+de+Janeiro">Rio de Janeiro</a>
        </div>
        <div class="map-index" style="position:absolute;top:220px;left:540px">
          <div style="background-color:#333;color:#FFF">AFRICA</div>
          <a href="/?city=Cairo">Cairo</a>
          <a href="/?city=Cape+Town">Cape Town</a>
          <a href="/?city=Johannesburg">Johannesburg</a>
          <a href="/?city=Lagos">Lagos</a>
        </div>
        <div class="map-index" style="position:absolute;top:20px;left:540px">
          <div style="background-color:#333;color:#FFF">EUROPE</div>
          <a href="/?city=Amsterdam">Amsterdam</a>
          <a href="/?city=Berlin">Berlin</a>
          <a href="/?city=Lisbon">Lisbon</a>
          <a href="/?city=London">London</a>
          <a href="/?city=Paris">Paris</a>
        </div>
        <div class="map-index" style="position:absolute;top:100px;right:300px">
          <div style="background-color:#333;color:#FFF">ASIA</div>
          <a href="/?city=Bangkok">Bangkok</a>
          <a href="/?city=Ho+Chi+Minh+City">Ho Chi Minh City</a>
          <a href="/?city=Mumbai">Mumbai</a>
          <a href="/?city=Shanghai">Shanghai</a>
          <a href="/?city=Tokyo">Tokyo</a>
        </div>
        <div class="map-index" style="position:absolute;bottom:80px;right:240px">
          <div style="background-color:#333;color:#FFF">AUSTRALIA</div>
          <a href="/?city=Melbourne">Melbourne</a>
          <a href="/?city=Perth">Perth</a>
          <a href="/?city=Sydney">Sydney</a>
        </div>
        <img src="/images/contact-map.png">
      </div>


      <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h4 style="text-align:center">To find a coworking space, type in a city or click one of the cities above.
            <br>
            <br>
            <form action="/" method="GET">
              <div class="form-inline">
                <div class="form-group">
                  <input class="form-control" type="text" name="city" id="city">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <br><br>
</body>

</html>