<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/masthead.ejs %>
    <div class="row">
      <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h4 style="text-align:center;line-height:1.5"><br>Pricepoint is a platform for beginner investors to schedule a meeting with a certified financial planner at a coworking space that's convenient for them.</h4>
          <h4 style="text-align:center;margin-top:10px">First, pick a certified financial planner that suits your investment style.</h4><br>
          <div style="margin-left:120px;display:inline-block;border-right: 1px solid #ddd;padding-right: 20px;">
            <h4 style="margin-top: 0;border-bottom: 1px solid #ddd;padding-bottom: 5px;text-align: center;">Conservative</h4>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"><a href="/george-mckinney">George McKinney</a></label>
            <br>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"><a href="/casey-doener">Casey Doener</a></label>
            <br>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"><a href="/barbara-reynolds">Barbara Reynolds</a></label>
          </div>
          <div style="margin-left:10px;display:inline-block;border-right: 1px solid #ddd;padding-right: 20px;">
            <h4 style="margin-top: 0;border-bottom: 1px solid #ddd;padding-bottom: 5px;text-align: center;">Moderate</h4>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1"><a href="/emily-lam">Emily Lam</a></label>
            <br>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"><a href="/gloria-simpson">Gloria Simpson</a></label>
            <br>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"><a href="/chris-martin">Chris Martin</a></label>
          </div>
          <div style="margin-left:10px;display:inline-block;padding-right: 20px;">
            <h4 style="margin-top: 0;border-bottom: 1px solid #ddd;padding-bottom: 5px;text-align: center;">Aggressive</h4>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"><a href="/henry-davis">Henry Davis</a></label>
            <br>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"><a href="/taylor-hauser">Taylor Hauser</a></label>
            <br>
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
            <label class="form-check-label" for="exampleRadios1"><a href="/michael-lee">Michael Lee</a></label>
          </div>

<h4 style="text-align:center;"><br>Now pick a city to schedule a meeting.</h4>
        
        </div>
        <div class="col-sm-2"></div>
      </div>
      <br>
      <div class="container" style="text-align:center;position:relative">
        <div class="map-index" style="position:absolute;top:60px;left:240px">
          <div style="background-color:#333;color:#FFF">NORTH AMERICA</div>
          <a href="/?city=Dallas&country=United-States">Dallas</a>
          <a href="/?city=Las+Vegas&country=United-States">Las Vegas</a>
          <a href="/?city=Los+Angeles&country=United-States">Los Angeles</a>
          <a href="/?city=New+York+City&country=United-States">New York City</a>
          <a href="/?city=San+Francisco&country=United-States">San Francisco</a>
          <a href="/?city=San+Jose&country=United-States">San Jose</a>
        </div>
        <div class="map-index" style="position:absolute;top:300px;left:340px">
          <div style="background-color:#333;color:#FFF">SOUTH AMERICA</div>
          <a href="/?city=Bogota&country=Colombia">Bogota</a>
          <a href="/?city=Lima&country=Peru">Lima</a>
          <a href="/?city=Santiago&country=Brazil">Santiago</a>
          <a href="/?city=Sao+Paulo&country=Brazil">Sao Paulo</a>
          <a href="/?city=Rio+de+Janeiro&country=Brazil">Rio de Janeiro</a>
        </div>
        <div class="map-index" style="position:absolute;top:220px;left:540px">
          <div style="background-color:#333;color:#FFF">AFRICA</div>
          <a href="/?city=Cairo&country=Egypt">Cairo</a>
          <a href="/?city=Cape+Town&country=South-Africa">Cape Town</a>
          <a href="/?city=Johannesburg&country=South-Africa">Johannesburg</a>
          <a href="/?city=Lagos&country=South-Africa">Lagos</a>
        </div>
        <div class="map-index" style="position:absolute;top:20px;left:540px">
          <div style="background-color:#333;color:#FFF">EUROPE</div>
          <a href="/?city=Amsterdam&country=Netherlands">Amsterdam</a>
          <a href="/?city=Berlin&country=Germany">Berlin</a>
          <a href="/?city=Lisbon&country=Portugal">Lisbon</a>
          <a href="/?city=London&country=United-Kingdom">London</a>
          <a href="/?city=Paris&country=France">Paris</a>
        </div>
        <div class="map-index" style="position:absolute;top:100px;right:300px">
          <div style="background-color:#333;color:#FFF">ASIA</div>
          <a href="/?city=Bangkok&country=Thailand">Bangkok</a>
          <a href="/?city=Ho+Chi+Minh+City&country=Vietnam">Ho Chi Minh City</a>
          <a href="/?city=Mumbai&country=India">Mumbai</a>
          <a href="/?city=Shanghai&country=China">Shanghai</a>
          <a href="/?city=Tokyo&country=Japan">Tokyo</a>
        </div>
        <div class="map-index" style="position:absolute;bottom:80px;right:240px">
          <div style="background-color:#333;color:#FFF">AUSTRALIA</div>
          <a href="/?city=Melbourne&country=Australia">Melbourne</a>
          <a href="/?city=Perth&country=Australia">Perth</a>
          <a href="/?city=Sydney&country=Australia">Sydney</a>
        </div>
        <img src="/images/contact-map.png">
      </div>


      <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
           <br>
            <br>
            <h4 style="text-align:center;line-height:1.5">
               You can also type in the name of a city.
            </h4>
            <form action="/" method="GET">
              <div class="form-inline">
                <div class="form-group">
                  <input class="form-control" type="text" name="city" id="city">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <br><br>
</body>

</html>