<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyzcJb41FFwvQeK0z_eLQV1RH5v7Ccpys&callback=initMap">
  </script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>

<script>

function initMap() {

  var map = new google.maps.Map(document.getElementById('indexMap'), {
zoom: 5,
center: {lat: 33.475609, lng: -112.188570}
});

// Create an array of alphabetical characters used to label the markers.
var labels = 'Hello world';
var infoWin = new google.maps.InfoWindow();

// Add some markers to the map.
// Note: The code uses the JavaScript Array.prototype.map() method to
// create an array of markers based on a given "locations" array.
// The map() method here has nothing to do with the Google Maps API.
var markers = locations.map(function(location, i) {
var marker = new google.maps.Marker({
position: location
})
google.maps.event.addListener(marker, 'click', function(evt) {
infoWin.setContent(location.info);
infoWin.open(map, marker);
})
return marker;
});

// Add a marker clusterer to manage the markers.
var markerCluster = new MarkerClusterer(map, markers,
{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
}

var locations = [
{
lat: 33.475609,
lng: -112.188570,
info: "<a href='/'> View Website</a>",
maxWidth: 20
}]

</script>

</head>

<body>
  <% include ../partials/masthead.ejs %>
    <div class="row">
      <br>
      <div class="container">
        <div id="indexMap"></div>
      </div>


      <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h4 style="text-align:center">To find a coworking space, type in a city below.
            <br>
            <br>
            <form action="/" method="GET">
              <div class="form-inline">
                <div class="form-group">
                  <input class="form-control" type="text" name="city" id="city">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
      </div>

    </div>
</body>

</html>