<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
      <div class="page-header">
        <p class="lead">Workspace Surfer</p>
      </div>
        Sorry, there were no results.
    </div>
  </body>
</html>