<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/masthead.ejs %>
    <div class="container">
        <br><br>
        Sorry, there were no results.
    </div>
  </body>
</html>