<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/masthead.ejs %>

      <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h4 style="text-align:center;line-height:1.5">Pricepoint is a platform for young investors to schedule a meeting with a certified financial planner at a coworking space that's convenient for them.
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <br><br>
</body>

</html>