<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/masthead.ejs %>
    <div class="container">
        <br><br>
        <div style="text-align:center;font-size: 24px">
            Thank you! You are now scheduled to meet with George McKinney on <%= day %> at <%= hour %> <%= amPm %><br><br>
            <table class="investing-table">
                <tr>
                    <td><h4><strong>Questions to ask your certified financial planner:</strong></h4></td>
                </tr>
                <tr>
                     <td><strong>1. Am I ready to invest?</strong><br>Save up an emergency fund first.</td>
                </tr>
                <tr>
                     <td><strong>2. What should my asset allocation be?</strong><br>Set up your percentage of stocks and bonds.</td>
                </tr>
                <tr>
                     <td><strong>3. What books should I read?</strong><br>Educate yourself on basic investing terminology and investment plans.</td>
                </tr>
                <tr>
                     <td><strong>4. How should I construct my portfolio?</strong><br>Figure out how soon you would like to retire.</td>
                </tr>
                <tr>
                     <td><strong>5. How should I maintain my portfolio over time?</strong><br>Learn when you should rebalance your portfolio and how to do so.</td>
                </tr>
            </table>
            <a href="/"><button class="btn btn-info">Return Home</button></a>
        
        </div>
        
    </div>
  </body>
</html>