<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/masthead.ejs %>
    <div class="container">
        <br><br>
        <div style="text-align:center">
            Thank you
            <a href="/?city=<%= city %>"><button class="btn btn-info">Find more <%= city %> coworking spaces</button></a>
            <br><br>
            <a href="/"><button class="btn btn-info">Return Home</button></a>
        
        </div>
        
    </div>
  </body>
</html>